#form_sex ul { margin:0}
#form_sex li {
	list-style: none;
	margin: 20px 0;
}
#form_sex dt {
	font-weight: bold;
	padding:5px 0;
}
#form_sex dd {
	margin:0}
#form_sex label {
	width: 100%;
	padding: 5px 0;
	display: block
}
#form_sex input { width:auto;}
@media (min-width:500px){
#form_sex dd:hover {
	background-color: #F4DFDF;
}
	}
#form_sex .click {
	background-color: #EBC7C7 !important;
}
#form_sex #return {
	font-size: 20px;
	padding: 40px 10px 10px;
	line-height: 1.5;
	color: #007A70;

}
#form_sex #return em {
	font-style: normal;
	color: red;
}
#form_sex #return span {
	font-size: 14px;
	color: #DF692C
}
#form_sex .more {
	display: none;
	padding: 10px 10px;
}
#form_sex .more a {
	color: #007A70;
	text-decoration: none
}
#form_sex .complete {
	display: none;
	padding: 10px 10px;
	color: #DF692C;
	border-top: 1px dashed #666;
}
#form_sex .complete p:before {
	content: "● "
}
.sex_note { color:#00886D; padding:15px 2px;}
